@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

$bg-color: #f1f1f1;
$bg-color-red: #e7273f;
$border-color: #eee;
$font-color-gray: #aaa;

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
button {
  font-family: 'Muli';
  font-size: 20px;
}

.wrapper {
  min-height: 100vh;
  @extend %flex-centered;
  background-color: $bg-color;
  .heart {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #e7273f;
    font-size: 30px;
    transform: translateY(0%);
    animation: fly 1s linear forwards;
  }
}

.button--love {
  @extend %flex-centered;
  background-color: $bg-color-red;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #fff;
  border: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 25px;
  width: 350px;
  cursor: pointer;
  outline: 0;
  .icon__box {
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #eee;
    color: #e7273f;
    padding: 20px 25px;
    position: relative;
  }
  .text {
    padding: 0 25px;
    flex: 1;
    text-align: center;
    .text--gray {
      color: $font-color-gray;
    }
  }
}

@keyframes fly {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-500%);
    opacity: 0;
  }
}
