@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Muli', sans-serif;
}

.wrapper {
  background-color: #521313;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-bottom: 100px;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.post {
  background-color: rgba(182, 96, 96, 0.575);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  display: flex;
  padding: 20px;
  margin: 40px 0;
  width: 80vw;
  max-width: 800px;
}

.post-title {
  margin: 0;
}

.post-date {
  color: #aeaeae;
}

.post-excerpt {
  margin: 15px 0 0;
  text-align: justify;
  line-height: 1.2;
}

.post-info {
  margin-left: 20px;
}

.loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  animation: jump 0.5s ease-in infinite;
}
.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}
.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
